.Service .Heading {
  background-color: #f2f2f2;
  color: #37474f;
  padding: 2rem 4rem;
  font-size: 1.7rem;
}

.Service .Content {
  background-color: #323232;
  padding: 1.5rem 0;
}

.Service .Content img {
  width: 100%;
}

.Service .Content p {
  color: #fff;
  margin-bottom: 4rem;
}

.Service .Content p.sp {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .Service .Content img {
    max-width: 260px;
    margin-bottom: 3rem;
    width: 90%;
  }

  /* .Service .row > * {
    padding-left: 0;
    padding-right: 0;
  } */
}
